<!DOCTYPE html>
<html>
  <head>
    <title>Confirmación de order</title>
  </head>
  <body>
    <h1>Confirmación de orden</h1>
    <p>Estimado <%= userName %>,</p>
    <p>Gracias por tu orden en Vinoreo</p>
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <% order.orderItems.forEach(item => { %>
          <tr>
            <td><%= item.product.name %></td>
            <td><%= item.quantity %></td>
            <td>MXN $<%= item.product.price %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <p>
      <b>
        Total: MXN $<%= order.total %>.00
      </b>
    </p>
    <% if (bankDetails) { %>
      <div>
        <h3>Transferencia bancaria</h3>
        <p>
          <b>
            Banco:
          </b>
          <%= bankDetails.bankName %>
        </p>
        <p>
          <b>
            Cuenta:
          </b>
          <%= bankDetails.accountNumber %>
        </p>
        <p>
          <b>
            CLABE:
          </b>
          <%= bankDetails.accountCLABE %>
        </p>
        <p>
          <b>
            Nombre:
          </b>
          <%= bankDetails.accountName %>
        </p>
      </div>
    <% } %>
    <p>
      <b>
        Dirección de envío:
      </b>
    </p>
    <p>
      <%= order.orderDetail.address %>, 
      <%= order.orderDetail.city %>, 
      <%= order.orderDetail.postalCode %>, 
      <%= order.orderDetail.phone %>
    </p>
    <p>
      <b>
        Horario y día de entrega:
      </b>
    </p>
    <p>
      <%= order.orderDetail.day %> —
      <%= order.orderDetail.schedule %>, 
    </p>
    <p>Te contactaremos si tenemos dudas.</p>
    <p>Gracias por tu compra!</p>
    <h5>Vinoreo</h5>
  </body>
</html>
