<!DOCTYPE html>
<html>
  <head>
    <title>Confirmación de order</title>
  </head>
  <body>
    <h1>Confirmación de orden</h1>
    <p>Estimado <%= userEmail %>,</p>
    <p>Gracias por tu orden en Vinoreo</p>
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <% order.orderItems.forEach(item => { %>
          <tr>
            <td><%= item.product.name %></td>
            <td><%= item.quantity %></td>
            <td><%= item.product.price %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <p>Dirección de envío:</p>
    <p>
      <%= order.orderDetail.address %>, 
      <%= order.orderDetail.city %>, 
      <%= order.orderDetail.postalCode %>, 
      <%= order.orderDetail.phone %>
    </p>
    <p>Total: <%= order.total %></p>
    <p>Te contactaremos si tenemos dudas.</p>
    <p>Gracias por tu compra!</p>
    <h5>Vinoreo</h5>
  </body>
</html>
